# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Progmatic\Osztályok_Objektumok 1014\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
